@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins{
  font-family: "Poppins", serif;
}
.poppins-100 {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-200 {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-300 {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-400 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-500 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-600 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-700 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-800 {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-900 {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-100-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-200-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-300-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-400-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-500-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-600-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-700-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-800-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-900-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}
